.gridContainer {
  width: 528px;
  height: 528px;
  border: 10px solid pink;
}

.grid {
  float: right;
  height: 31px;
  width: 31px;

  border: 1px solid black;
}

.blacked {
  background-color: black;
}
